.btn {
	display: inline-block;
	vertical-align: top;
	padding: 1.13em 2.1em;

	background-color: $secondary;
	border: none;
	border-radius: 3em;
	cursor: pointer;

	text-decoration: none;
	font-size: 1.2rem;
	font-family: inherit;
	font-weight: 500;
	color: $white;
	line-height: 1.1;

	transition: background-color linear .2s;

	&--red {
		background-color: $red;
		box-shadow: 0 7px 17px -10px rgba($red, .3);

		&:hover {
			background-color: darken($red, 10%);
		}
	}

	&--blue {
		background-color: $blue;
		box-shadow: 0 7px 17px -10px rgba($blue, .3);

		&:hover {
			background-color: darken($blue, 10%);
		}
	}

	&--rounded {
		border-radius: 0.41em;
	}

	&--xs {
		padding: 0.7em 1.25em;
	}
}