<aside class="sidebar">

	<div class="sidebar__header">
		<img src="assets/images/sidebar-header.jpg" alt="Working place">
	</div>

	<div class="sidebar__content">
		<div class="profile">
			<img src="assets/images/profile-photo.jpg" alt="Photo" class="profile__avatar">
			<div class="profile__name">Евгения Лукьяненко</div>
			<div class="profile_prof">блог front-end разработчика</div>

			<ul class="social">
				<li class="social__item">
					<a class="social__link" href="https://www.instagram.com/magg1e_may/" target="_blank">
						<img src="assets/images/social/instagram.svg" alt="Евгения Лукьяненко Instagram">
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="assets/images/social/vk.svg" alt="VK icon">
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="assets/images/social/pinterest.svg" alt="Pinterest icon">
					</a>
				</li>
			</ul>

			<div class="profile__text">
				<p>Front-end разработчик. Практикую верстку сайтов. Активно учусь и развиваюсь. Ныряю в мир JS</p>
			</div>
		</div> <!-- profile -->
	</div> <!-- sidebar__content -->

	<div class="sidebar__footer">
		<a href="#" class="btn btn--red">Мои работы</a>
		<button class="btn btn--blue">Написать мне</button>
	</div>
</aside>